h1{
    font-family: "SF Pro Display", serif;
}
.container{
    display: flex;
    gap: 30px;
}
.container > #upright-triangle{
    height: 0;
    width: 0;
    border-bottom: 200px solid #6DC5D1;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
}
.container > #left-triangle{
    height: 0;
    width: 0;
    border-left: 200px solid #FDE49E;
    border-bottom: 100px solid transparent;
    border-top: 100px solid transparent;
}
.container > #downright-triangle{
    height: 0;
    width: 0;
    border-top: 200px solid #FEB941;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
}
.container > #right-triangle{
    height: 0;
    width: 0;
    border-right: 200px solid #DD761C;
    border-bottom: 100px solid transparent;
    border-top: 100px solid transparent;
}
@media (min-width: 380px) and (max-width: 680px) {
    .container{
        display: flex;
        flex-direction: column;
    }

}